{% extends "base.html" %}

{% block title %}
QueueNova | Smart Queue Management System
{% endblock %}

{% block content %}



<section class="hero" id="home">

    <h1>Smart Queue Management System</h1>

    <p>
        Manage queues digitally.
        Save time.
        Reduce waiting.
    </p>

    <button class="hero-btn">
        Get Started
    </button>

</section>

<section class="stats" id="stats">

    <div class="card">
          <i class="fa-solid fa-users"></i>
        <h2>500+</h2>
        <p>Daily Users</p>
    </div>

    <div class="card">
          <i class="fa-solid fa-users"></i>
        <h2>120+</h2>
        <p>Organizations</p>
    </div>

    <div class="card">
          <i class="fa-solid fa-users"></i>
        <h2>99%</h2>
        <p>Customer Satisfaction</p>
    </div>

</section>
<section class="features" id="features">

    <h2>Our Features</h2>

    <div class="feature-container">

        <div class="card feature-card">

            <i class="fa-solid fa-ticket"></i>

            <h3>Smart Token System</h3>

            <p>
                Generate and manage tokens digitally without waiting.
            </p>

        </div>


        <div class="card feature-card">

            <i class="fa-solid fa-clock"></i>

            <h3>Real Time Queue</h3>

            <p>
                Track queue status and reduce customer waiting time.
            </p>

        </div>


        <div class="card feature-card">

            <i class="fa-solid fa-chart-line"></i>

            <h3>Analytics</h3>

            <p>
                Monitor queue performance with smart reports.
            </p>

        </div>

    </div>

</section>
<section class="about" id="about">

    <div class="about-content">

        <h2>About QueueNova</h2>

        <p>
            QueueNova is a smart queue management system
            designed to reduce waiting time and improve
            customer experience through digital solutions.
        </p>

        <button class="hero-btn">
            Learn More
        </button>

    </div>

</section>

{% endblock %}